<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wm.gameplat.config.core.mapper.RoleInfoMapper">

    <resultMap type="com.wm.gameplat.config.core.domain.RoleInfo" id="resultMapOfRoleInfo">
        <result column="role_id" property="roleId"/>
        <result column="parent_id" property="parentId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_key" property="roleKey"/>
        <result column="status" property="status"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="FieldsOfRoleInfo">role_id, parent_id, role_name, role_key, status, create_by, create_time, update_by,
        update_time
    </sql>

    <sql id="FieldsOfRoleInfoWithoutId">role_id,parent_id, role_name, role_key, status, create_by, create_time,
        update_by, update_time
    </sql>

    <select id="findById" resultMap="resultMapOfRoleInfo" parameterType="java.lang.Long">
        select
        <include refid="FieldsOfRoleInfo"/>
        from role_info where id = #{id}
    </select>

    <select id="findByIds" resultMap="resultMapOfRoleInfo" parameterType="java.util.List">
        select
        <include refid="FieldsOfRoleInfo"/>
        from role_info where id in
        <foreach item="item" index="index" collection="list" open="(" separator=", " close=")">
            #{item}
        </foreach>
    </select>

    <select id="findByExample" resultMap="resultMapOfRoleInfo"
            parameterType="com.wm.gameplat.config.core.domain.RoleInfo">
        select
        <include refid="FieldsOfRoleInfo"/>
        from role_info
        <where>
            <if test="roleId != null and roleId != ''">and role_id = #{roleId}</if>
            <if test="parentId != null and parentId != ''">and parent_id = #{parentId}</if>
            <if test="roleName != null and roleName != ''">and role_name = #{roleName}</if>
            <if test="roleKey != null and roleKey != ''">and role_key = #{roleKey}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="createBy != null and createBy != ''">and create_by = #{createBy}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="updateBy != null and updateBy != ''">and update_by = #{updateBy}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
        </where>
    </select>

    <select id="count" resultType="java.lang.Integer"
            parameterType="com.wm.gameplat.config.core.domain.RoleInfo">
        select count(id) from role_info
        <where>
            <if test="roleId != null and roleId !=''">and role_id = #{roleId}</if>
            <if test="parentId != null and parentId !=''">and parent_id = #{parentId}</if>
            <if test="roleName != null and roleName !=''">and role_name = #{roleName}</if>
            <if test="roleKey != null and roleKey !=''">and role_key = #{roleKey}</if>
            <if test="status != null and status !=''">and status = #{status}</if>
            <if test="createBy != null and createBy !=''">and create_by = #{createBy}</if>
            <if test="createTime != null and createTime !=''">and create_time = #{createTime}</if>
            <if test="updateBy != null and updateBy !=''">and update_by = #{updateBy}</if>
            <if test="updateTime != null and updateTime !=''">and update_time = #{updateTime}</if>
        </where>
    </select>

    <select id="findByParams" resultMap="resultMapOfRoleInfo" parameterType="java.util.Map">
        select
        <include refid="FieldsOfRoleInfo"/>
        from role_info
        <where>
            <if test="roleId != null and roleId != '' ">and role_id = #{roleId}</if>
            <if test="parentId != null and parentId != '' ">and parent_id = #{parentId}</if>
            <if test="roleName != null and roleName != '' ">and role_name = #{roleName}</if>
            <if test="roleKey != null and roleKey != '' ">and role_key = #{roleKey}</if>
            <if test="status != null and status != '' ">and status = #{status}</if>
            <if test="createBy != null and createBy != '' ">and create_by = #{createBy}</if>
            <if test="createTime != null and createTime != '' ">and create_time = #{createTime}</if>
            <if test="updateBy != null and updateBy != '' ">and update_by = #{updateBy}</if>
            <if test="updateTime != null and updateTime != '' ">and update_time = #{updateTime}</if>
        </where>
    </select>

    <select id="countByParams" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(id) from role_info
        <where>
            <if test="roleId != null and roleId != '' ">and role_id = #{roleId}</if>
            <if test="parentId != null and parentId != '' ">and parent_id = #{parentId}</if>
            <if test="roleName != null and roleName != '' ">and role_name = #{roleName}</if>
            <if test="roleKey != null and roleKey != '' ">and role_key = #{roleKey}</if>
            <if test="status != null and status != '' ">and status = #{status}</if>
            <if test="createBy != null and createBy != '' ">and create_by = #{createBy}</if>
            <if test="createTime != null and createTime != '' ">and create_time = #{createTime}</if>
            <if test="updateBy != null and updateBy != '' ">and update_by = #{updateBy}</if>
            <if test="updateTime != null and updateTime != '' ">and update_time = #{updateTime}</if>
        </where>
    </select>

    <select id="findAll" resultMap="resultMapOfRoleInfo">
        select
        <include refid="FieldsOfRoleInfo"/>
        from role_info
    </select>

    <insert id="save" parameterType="com.wm.gameplat.config.core.domain.RoleInfo" useGeneratedKeys="true"
            keyProperty="id">
        insert into role_info(
        <include refid="FieldsOfRoleInfoWithoutId"/>
        ) values (
        , #{roleId}#{parentId}, #{roleName}, #{roleKey}, #{status}, #{createBy}, #{createTime}, #{updateBy},
        #{updateTime} )
    </insert>

    <update id="update" parameterType="com.wm.gameplat.config.core.domain.RoleInfo" useGeneratedKeys="true"
            keyProperty="id">
        update role_info
        <set>
            <if test="roleId != null and roleId != '' ">role_id = #{roleId},</if>
            <if test="parentId != null and parentId != '' ">parent_id = #{parentId},</if>
            <if test="roleName != null and roleName != '' ">role_name = #{roleName},</if>
            <if test="roleKey != null and roleKey != '' ">role_key = #{roleKey},</if>
            <if test="status != null and status != '' ">status = #{status},</if>
            <if test="createBy != null and createBy != '' ">create_by = #{createBy},</if>
            <if test="createTime != null and createTime != '' ">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != '' ">update_by = #{updateBy},</if>
            <if test="updateTime != null and updateTime != '' ">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from role_info where id = #{id}
    </delete>

    <insert id="saveOrUpdate" parameterType="com.wm.gameplat.config.core.domain.RoleInfo">
        insert into role_info (
        <include refid="FieldsOfRoleInfoWithoutId"/>
        ) values (
        , #{roleId}#{parentId}, #{roleName}, #{roleKey}, #{status}, #{createBy}, #{createTime}, #{updateBy},
        #{updateTime} )
        on duplicate key update
        , role_id=#{roleId}parent_id=#{parentId}, role_name=#{roleName}, role_key=#{roleKey}, status=#{status},
        create_by=#{createBy}, create_time=#{createTime}, update_by=#{updateBy}, update_time=#{updateTime}
    </insert>

    <insert id="batchSave" parameterType="java.util.List">
        insert into role_info(
        <include refid="FieldsOfRoleInfoWithoutId"/>
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (, #{item.roleId}#{item.parentId}, #{item.roleName}, #{item.roleKey}, #{item.status}, #{item.createBy},
            #{item.createTime}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update role_info
            <set>
                ,role_id=#{item.roleId} parent_id=#{item.parentId} ,role_name=#{item.roleName} ,role_key=#{item.roleKey}
                ,status=#{item.status} ,create_by=#{item.createBy} ,create_time=#{item.createTime}
                ,update_by=#{item.updateBy} ,update_time=#{item.updateTime}
            </set>
            where id = #{item.id}
        </foreach>

    </update>

    <delete id="batchDelete" parameterType="java.util.List">
        delete from role_info where id in
        <foreach item="item" index="index" collection="list" open="(" separator=", " close=")">
            #{item}
        </foreach>
    </delete>

    <select id="findRoleByUser" resultMap="resultMapOfRoleInfo" parameterType="integer">
        select
        <include refid="FieldsOfRoleInfo"/>
        from role_info where role_id in (select role_id from user_role where user_id = #{userId})
    </select>

</mapper>
