<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wm.gameplat.core.mapper.UserInfoMapper">

    <resultMap type="com.wm.gameplat.core.domain.UserInfo" id="resultUserInfo">

                    <result column="user_id"            property="userId"/>
                    <result column="user_name"          property="userName"/>
                    <result column="nick_name"          property="nickName"/>
                    <result column="parent_id"          property="parentId"/>
                    <result column="parent_name"        property="parentName"/>
                    <result column="rel_name"           property="relName"/>
                    <result column="root_id"            property="rootId"/>
                    <result column="password"           property="password"/>
                    <result column="cash_password"      property="cashPassword"/>
                    <result column="phone_number"       property="phoneNumber"/>
                    <result column="is_change"          property="isChange"/>
                    <result column="user_type"          property="userType"/>
                    <result column="is_limit_ticket"    property="isLimitTicket"/>
                    <result column="is_provide_salary"  property="isProvideSalary"/>
                    <result column="salt"               property="salt"/>
                    <result column="sex"                property="sex"/>
                    <result column="birthday"           property="birthday"/>
                    <result column="email"              property="email"/>
                    <result column="wechat"             property="wechat"/>
                    <result column="qq"                 property="qq"/>
                    <result column="status"             property="status"/>
                    <result column="remark"             property="remark"/>
                    <result column="register_origin"    property="registerOrigin"/>
                    <result column="register_ip"        property="registerIp"/>
                    <result column="register_time"      property="registerTime"/>
                    <result column="update_by"          property="updateBy"/>
                    <result column="update_time"        property="updateTime"/>
                    <result column="register_date"      property="registerDate"/>
                    <result column="browser"            property="browser"/>
                    <result column="operating_system"   property="operatingSystem"/>
                    <result column="rebate_id"          property="rebateId"/>
                    <result column="user_level"         property="userLevel"/>
                    <result column="user_model"         property="userModel"/>
                    <result column="create_time"        property="createTime"/>
                    <result column="ancestral_info"     property="ancestralInfo"/>
                    <result column="extend_proportion_list" property="extendProportionList"/>
                    <result column="extend_game_list"   property="extendGameList"/>
                    <result column="pass_strength"      property="passStrength"/>
                    <result column="safety_id"          property="safetyId"/>
            </resultMap>
    <!--用户信息字段 -->
    <sql id="FieldsOfUserInfo">user_id, user_name, nick_name, parent_id, parent_name, rel_name, root_id, password, cash_password,
            phone_number, is_change, user_type, is_limit_ticket, is_provide_salary, salt, sex, birthday, email, wechat, qq, status,
             remark, register_origin, register_ip, register_time, update_by, update_time, register_date, browser, operating_system,
             rebate_id, user_level, user_model, create_time, ancestral_info, extend_proportion_list, extend_game_list, pass_strength,
             safety_id</sql>

    <!-- 用户新增代理（注册管理） -->
    <insert id="addManageLogin" parameterType="com.wm.gameplat.core.domain.UserInfo">
        INSERT INTO tab_extend_login(
        <if test="userId != null  and userId != -1">
            user_id,
        </if>
        <if test="userName != null  and userName != ''">
            user_name,
        </if>
        <if test="extendId != null  and extendId != -1">
            extend_id,
        </if>
        <if test="extendHtml != null  and extendHtml != ''">
            extend_html,
        </if>
        <if test="extendCode != null  and extendCode != ''">
            extend_code,
        </if>
        <if test="extendIndex != null  and extendIndex != ''">
            extend_index,
        </if>
        <if test="extendAimType != null  and extendAimType != ''">
            extend_aim_type,
        </if>
        <if test="extendProportion != null  and extendProportion != ''">
            extend_proportion,
        </if>
        <if test="visitCount != null  and visitCount != -1">
            visit_count,
        </if>
        <if test="registerCount != null  and registerCount != -1">
            register_count,
        </if>
        <if test="createBy != null  and createBy != ''">
            create_by,
        </if>
        create_time)
        VALUES
        (
        <if test="userId != null  and userId != -1">
            #{userId},
        </if>
        <if test="userName != null  and userName != ''">
            #{userName},
        </if>
        <if test="extendId != null  and extendId != -1">
            #{extendId},
        </if>
        <if test="extendHtml != null  and extendHtml != ''">
            #{extendHtml},
        </if>
        <if test="extendCode != null  and extendCode != ''">
            #{extendCode},
        </if>
        <if test="extendIndex != null  and extendIndex != ''">
            #{extendIndex},
        </if>
        <if test="extendAimType != null  and extendAimType != ''">
            #{extendAimType},
        </if>
        <if test="extendProportion != null  and extendProportion != ''">
            #{extendProportion},
        </if>
        <if test="visitCount != null  and visitCount != -1">
            #{visitCount},
        </if>
        <if test="registerCount != null  and registerCount != -1">
            #{registerCount},
        </if>
        <if test="createBy != null  and createBy != ''">
            #{createBy},
        </if>
        sysdate())
    </insert>


    <!-- 用户列表查询 （未完成）-->
    <select id="selectUserList" resultType="com.wm.gameplat.core.domain.UserInfo" parameterType="com.wm.gameplat.core.domain.UserInfo">
        select count(id) from user_info

        <where>
            <if test="userName != null and userName !=''"> and user_name = #{userName}</if>
            <if test="userType != null and userType !=''"> and user_type = #{userType}</if>
            <if test="rebateId != null and rebateId !=''"> and rebate_id = #{rebateId}</if>
            <if test="createTime != null and createTime !=''"> and create_time = #{createTime}</if>
        </where>
    </select>

</mapper>
